body {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

#chat {
    position: fixed;
    top: 20%;
    bottom: 0;
    right: 10%;
    width: 20%;
}


/*#chat-container {*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 30%;*/
/*}*/

/*#chat-button {*/
    /*position: fixed;*/
    /*top: 50%;*/
/*}*/

/*#chat {*/
    /*position: fixed;*/
    /*width: 30%;*/
    /*top: 100%;*/
    /*bottom: 0;*/
    /*right: 0;*/
/*}*/

/*#chat.enabled {*/
    /*top: 0;*/
/*}*/